# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.vcxproj
*.vcxproj.filters
*.depend
*.layout
*.ilk
*.pdb
*.tlog
*.idb
*.suo
*.log
*.user
*Makefile*


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.rar
*debug*
*dox*
*html*
*latex*
*txt*
